.interests-section {
  padding: 5rem 0 5rem 0;
}

h3 {
  .interests-section [class*="topic-"] & {
    line-height: 51px;
    margin-bottom: 0;
  }
}

.topic {
  @media(min-width: 992px) {
    .interests-section & {
      margin-bottom: 1rem;
    }
  }
}